{% set metaTitle = "Dashboard" %}
{% set metaUrl = '/dashboard' %}

{% extends "_layout.njk" %}

{% block stylesheets %}
<!-- Libs stylesheets -->
<link rel="stylesheet" href="libs/fontello/fontello.css{{ versions[1] }}">
<link rel="stylesheet" href="libs/bulma-collapsible/bulma-collapsible.min.css{{ versions[3] }}">
{{ super() }}
<link rel="stylesheet" href="css/sweetalert.css{{ versions[1] }}">
<link rel="stylesheet" href="css/thumbs.css{{ versions[1] }}">
<link rel="stylesheet" href="css/dashboard.css{{ versions[1] }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Libs scripts -->
<script src="libs/sweetalert/sweetalert.min.js{{ versions[3] }}"></script>
<script src="libs/axios/axios.min.js{{ versions[3] }}"></script>
<script src="libs/clipboard.js/clipboard.min.js{{ versions[3] }}"></script>
<script src="libs/lazyload/lazyload.min.js{{ versions[3] }}"></script>
{# Polyfill smooth scroll for older browsers #}
<script src="libs/smoothscroll/smoothscroll.min.js{{ versions[3] }}"></script>
<script src="libs/bulma-collapsible/bulma-collapsible.min.js{{ versions[3] }}"></script>
<!-- Scripts -->
{# We assign an ID for this so that the script can find out its own version #}
<script id="mainScript" src="js/dashboard.js{{ versions[1] }}"></script>
<script src="js/misc/utils.js{{ versions[1] }}"></script>
{% endblock %}

{% block endmeta %}
{% include "_partial/noscript-refresh.njk" %}
{% endblock %}

{% block content %}
{{ super() }}
<section id="dashboard" class="section is-hidden anim-fade-in">
  <div id="panel" class="container">
    <h1 class="title">
      Панель управления
    </h1>
    <p class="subtitle">
      <b>Маленькие</b> сейфы нужно защищать.
    </p>
    <hr>

    <div class="columns">
      <div class="column is-one-quarter">
        <aside id="menu" class="menu">
          <p class="menu-label">Основное</p>
          <ul class="menu-list is-unselectable">
            <li>
              <a href="." class="is-relative">Главная</a>
            </li>
            <li>
              <a id="itemUploads" class="is-relative">Загрузки</a>
            </li>
            <li>
              <a id="itemDeleteUploadsByNames" class="is-relative">Удаление по имени</a>
            </li>
          </ul>
          <p class="menu-label">Альбомы</p>
          <ul class="menu-list is-unselectable">
            <li>
              <a id="itemManageYourAlbums" class="is-relative">Управлять альбомами</a>
            </li>
            <li>
              <a id="albumsSidebarCollapse" href="#albumsSidebar" data-action="collapse" data-text-collapse="Свернуть панель альбомов" data-text-expand="Развернуть панель альбомов" disabled>Загрузка панели альбомов…</a>
            </li>
            <li>
              <ul id="albumsSidebar" class="is-collapsible"></ul>
            </li>
          </ul>
          <p id="itemLabelAdmin" class="menu-label is-hidden">Администрация</p>
          <ul id="itemListAdmin" class="menu-list is-unselectable is-hidden">
            <li>
              <a id="itemStatistics" class="is-relative is-hidden">Статистика</a>
            </li>
            <li>
              <a id="itemManageUploads" class="is-relative is-hidden">Управление загрузками</a>
            </li>
            <li>
              <a id="itemManageAlbums" class="is-relative is-hidden">Управление альбомами</a>
            </li>
            <li>
              <a id="itemManageUsers" class="is-relative is-hidden">Управление пользователями</a>
            </li>
          </ul>
          <p class="menu-label">Конфигурация</p>
          <ul class="menu-list is-unselectable">
            <li>
              <a id="ShareX" class="is-relative">Профиль ShareX</a>
            </li>
            <li>
              <a id="itemManageToken" class="is-relative">Управление токеном</a>
            </li>
            <li>
              <a id="itemChangePassword" class="is-relative">Изменить пароль</a>
            </li>
            <li>
              <a id="itemLogout" class="is-relative">Выйти</a>
            </li>
          </ul>
        </aside>
      </div>
      <div id="page" class="column has-text-centered is-third-quarters">
        <img alt="logo" src="images/logo.png{{ versions[2] }}">
      </div>
    </div>
  </div>
</section>

{% include "_partial/loader.njk" %}
{% include "_partial/noscript.njk" %}
{% endblock %}
