<noscript>
  <section id="noscript" class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered is-size-5">
        <p>
          Включите JavaScript.
        </p>
        {% if noscriptMessage or (noscriptMessage === null) -%}
        {{ noscriptMessage | safe }}
        {%- else -%}
        <p>Можете использовать <a href="nojs">No-JS загрузчик</a>.</p>
        {%- endif %}
      </div>
    </div>
  </section>
</noscript>
